<form action="" class="d-flex" id="search_form">
<input type="text" class="form-control" placeholder="Search" id="search">
<button class="btn btn-outline-success  ms-2" type="button" id="btnSearch">
Search
</button>
</form>